# Geometric Verification

In this chapter, we will build off of the feature matching example from the previous chapter by utilizing AKAZE feature matches, together with information about the camera, to infer camera motion between the images being compared. We will see a few new concepts including camera intrinsic parameters, consensus algorithms, and estimators. 


## Feature Matching

**TODO:**


## Consensus Algorithm - ARRSAC

**TODO:**


## Estimators - Eight Point Algorithm

**TODO:**






## Running the program

Make sure you are in the Rust CV mono-repo and run:

```bash
cargo run --release --bin chapter5-geometric-verification
```

If all went well you should have a window and see this:

**TODO:** Add image


## The code

**TODO:** Add walkthrough of code


## End

This is the end of this chapter.